@font-face {
  font-family: 'GEOMATRIX';
  src: url('../fonts/GEOMATRIX.ttf') format('truetype'),
       url('../fonts/GEOMATRIX.woff') format('woff'),
       url('../fonts/GEOMATRIX.woff2') format('woff2');
}

.customCalendar {
  position: absolute;
  top: 9vh;
  left: 56vw;

  width: 36.9vw;
  height: 47vh;
  background-color: #ebf2fa;
  border: 0px;
  box-shadow: 10px 10px lightblue;
}

.customCalendar .react-calendar__tile {
  width: 70px;
  height: 6vh;
}

.uniqueBoxContainer {
  position: absolute;
  top: 60vh; /* Adjust the value as necessary */
  left: 25vw; /* Adjust the value as necessary */
  width: 67.8vw; /* Adjustable width */
  height: 30vh; /* Adjustable height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebf2fa;
  box-shadow: 10px 10px lightblue;
}

.uniqueBoxContent {
  font-family: 'Arial, sans-serif';
  font-size: 2.7vh; /* Adjustable font size */
  color: #333;
  text-align: center;
  font-family: 'GEOMATRIX'
}

table {
  position: absolute;
  top: 9vh;
  left: 25vw;
  height: 40vh;
  width: 28.7vw;
  border-collapse: collapse;
  font-family: 'GEOMATRIX';
  background-color: #ebf2fa;
  box-shadow: 10px 10px lightblue;
}

th, td {
  border: 5px solid rgba(255, 255, 255, 0);
  padding: 8px;
  text-align: center;
  background-color: #ebf2fa;
}

th {
  background-color: #ebf2fa;
}

.meal-entry-form {
  position: absolute;
  top: 9vh;
  left: 25vw;
  height: 33vh;
  width: 24.94vw;
  background-color: #ebf2fa; /* Soft background color */
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px lightblue;
}

.meal-entry-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.meal-entry {
  display: flex;
  align-items: center;
  margin-bottom: 3.5em; /* Adjusted margin */
  width: 100%;
}

.meal-time {
  margin-right: 1em;
  font-weight: bold;
  flex: 1;
  color: #343a40; /* Slightly darker text color */
}

.meal-input,
.satiety-input {
  margin: 0 0.5em;
  padding: 0.5em;
  border: none; /* Remove borders */
  width: 100px;
  flex: 2;
  font-size: 0.9em; /* Consistent font size */
  background-color: #ffffff; /* Background color to distinguish input area */
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); /* Inset shadow to add depth (optional) */
}

.meal-input::placeholder {
  color: #868e96; /* Modern placeholder color */
}

.submit-button {
  position: absolute;
  top: 40vh; /* Adjust as necessary */
  left: 0vw; /* Adjust as necessary */
  width: 10vw; /* Adjust as necessary */
  height: 50px; /* Adjust as necessary */
  background-color: #ebf2fa; /* Adjust as necessary */
  color: black; /* Adjust as necessary */
  border: none; /* Adjust as necessary */
  font-size: 16px; /* Adjust as necessary */
  cursor: pointer; /* Changes the cursor to a hand icon when hovering over the button */
  box-shadow: 10px 10px lightblue;
}

.submit-button:hover {  
  background-color: #a5be00;
}

.buttonStyle {
  position: absolute;
  top: 49vh; /* Adjust as necessary */
  left: 25vw; /* Adjust as necessary */
  width: 10vw; /* Adjust as necessary */
  height: 50px; /* Adjust as necessary */
  background-color: #f9baa3; /* Adjust as necessary */
  color: black; /* Adjust as necessary */
  border: none; /* Adjust as necessary */
  font-size: 16px; /* Adjust as necessary */
  cursor: pointer; /* Changes the cursor to a hand icon when hovering over the button */
  box-shadow: 10px 10px #f7c2af;
}

.buttonStyle:hover {
  background-color: #ffd8ca; /* Adjust as necessary; Darker shade for hover effect */
}

.button-call-gpt {
  background-color: #679436; /* Adjust as necessary */
  color: white; /* Adjust as necessary */
  border: none; /* Adjust as necessary */
  font-size: 16px; /* Adjust as necessary */
  cursor: pointer; /* Changes the cursor to a hand icon when hovering over the button */
}

.button-call-gpt:hover {
  background-color: #a5be00; /* Adjust as necessary; Darker shade for hover effect */
}