@font-face {
  font-family: 'GEOMATRIX';
  src: url('../fonts/GEOMATRIX.ttf') format('truetype'),
       url('../fonts/GEOMATRIX.woff') format('woff'),
       url('../fonts/GEOMATRIX.woff2') format('woff2');
}

.customCalendar {
  position: absolute;
  top: 9vh;
  left: 56vw;

  width: 36.9vw;
  height: 47vh;
  background-color: #c3c3c31c;
  border: 0px;
}

.customCalendar .react-calendar__tile {
  width: 70px;
  height: 6vh;
}

.uniqueBoxContainer {
  position: absolute;
  top: 60vh; /* Adjust the value as necessary */
  left: 25vw; /* Adjust the value as necessary */
  width: 67.8vw; /* Adjustable width */
  height: 30vh; /* Adjustable height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3c3c31c;
  border: 0px solid #8e8e8e;
}

.uniqueBoxContent {
  font-family: 'Arial, sans-serif';
  font-size: 2.7vh; /* Adjustable font size */
  color: #333;
  text-align: center;
  font-family: 'GEOMATRIX'
}

table {
  position: absolute;
  top: 9vh;
  left: 25vw;
  height: 40vh;
  width: 27vw;
  border-collapse: collapse;
  font-family: 'GEOMATRIX';
  background-color: #ffffff;
}

th, td {
  border: 1px solid #838383;
  padding: 8px;
  text-align: center;
  background-color: #ffffff;
}

th {
  background-color: #ffffff;
}

.meal-entry-form {
  position: absolute;
  top: 9vh;
  left: 25vw;
  height: 40vh;
  width: 25vw;
  background-color: #c3c3c31c;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal-entry-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.meal-entry {
  display: flex;
  align-items: center;
  margin-bottom: 2.5em;
  width: 100%;
}

.meal-time {
  margin-right: 1em;
  font-weight: bold;
  flex: 1;
}

.meal-input,
.satiety-input {
  margin: 0 0.5em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100px;
  flex: 2;
}

.meal-input::placeholder {
  font-size: 0.9em;
  color: #aaa;
}

.submit-button {
  padding: 0.5em 1em;
  background-color: #c3c3c3c4;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.submit-button:hover {
  background-color: #b5b5b5;
}

.buttonStyle {
  position: absolute;
  top: 50vh; /* Adjust as necessary */
  left: 32.7vw; /* Adjust as necessary */
  width: 10vw; /* Adjust as necessary */
  height: 50px; /* Adjust as necessary */
  background-color: #9d9d9d; /* Adjust as necessary */
  color: white; /* Adjust as necessary */
  border: none; /* Adjust as necessary */
  font-size: 16px; /* Adjust as necessary */
  cursor: pointer; /* Changes the cursor to a hand icon when hovering over the button */
}

.buttonStyle:hover {
  background-color: #828282; /* Adjust as necessary; Darker shade for hover effect */
}